@model SignUpViewModel

@{
    ViewData["Title"] = Model.Title;
}

<section id="signup" class="top-title">
        <form method="post" asp-controller="Auth" asp-action="SignUp" class="signup-form">
            <h1>Create account</h1>
            <p class="signin-text">Already have an account? <a asp-controller="Auth" asp-action="SignIn">Sign in here.</a></p>

            <div class="input-control">
                <label asp-for=SignUpForm.FirstName class="labels"></label>
                <span asp-validation-for="SignUpForm.FirstName" class="error error-styling"></span>
                <input asp-for="SignUpForm.FirstName" class="firstname" placeholder="First name" id="firstname">
                <div></div>
            </div>

            <div class="input-control">
                <label asp-for="SignUpForm.LastName" class="labels"></label>
                <span asp-validation-for="SignUpForm.LastName" class="error error-styling"> </span>
                <input asp-for=SignUpForm.LastName class="lastname" placeholder="Surname" id="lastname">
                <div></div>
            </div>


            <div class="input-control">
                <label asp-for=SignUpForm.Email class="labels"></label>
                <span asp-validation-for="SignUpForm.Email" class="error error-styling"></span>
                <input asp-for=SignUpForm.Email class="email" placeholder="Enter your email adress." aria-label="Email" id="email">
                <div></div>
            </div>

            <div class="input-control">
                <label asp-for=SignUpForm.Password class="labels"></label>
                <span asp-validation-for="SignUpForm.Password" class="error error-styling"></span>
                <input asp-for=SignUpForm.Password class="password" placeholder="*******" aria-label="Password" id="password">
                <div></div>
            </div>

            <div class="input-control">
                <label asp-for="SignUpForm.ConfirmPassword" class="labels"></label>
                <span asp-validation-for="SignUpForm.ConfirmPassword" class="error error-styling"></span>
                <input asp-for=SignUpForm.ConfirmPassword class="password" placeholder="*******" aria-label="Password" id="conf-password">
                <div></div>
            </div>

            <div class="checkmark">
                <input asp-for="SignUpForm.TermsAndConditions" type="checkbox" id="term-check" class="termscheck" title="Remember me">
                <label for="term-check" class="term-label">I agree to the <a asp-controller="About" asp-action="Terms">Terms</a> & <a asp-controller="About" asp-action="Conditions">Conditions</a>.</label>
                <span asp-validation-for="SignUpForm.TermsAndConditions" class="error error-styling"></span>
                <div></div>
            </div>
            <button type="submit" class="btn-theme-s" formmethod="post">@Model.Title</button>
        </form>
</section>