@model SignInViewModel

@{
    ViewData["Title"] = "Sign In";
}

<section id="signin" class="top-title">
    <form method="post" asp-controller="Auth" asp-action="SignIn" asp-route-ReturnUrl="@ViewData["ReturnUrl"] class="signin-form">
        <div class="error error-styling">
            @ViewData["ErrorMessage"]
        </div>

        <h1>Sign in</h1>
        <p class="signin-text">Dont have any account yet? <a asp-controller="Auth" asp-action="SignUp">Create one here.</a></p>

        <div class="input-control">
            <label asp-for="Form.Email" class="labels"></label>
            <input asp-for="Form.Email" class="email" id="email">
        </div>

        <div class="input-control">
            <label asp-for="Form.Password" class="labels"></label>
            <input asp-for=Form.Password class="password" id="password">
        </div>

        <div class="checkmark">
            <input asp-for="Form.RememberMe" type="checkbox" id="remembercheck" class="remembercheck" title="Remember me">
            <label asp-for=Form.RememberMe class="remembermelabel"></label>
        </div>
        <button type="submit" class="btn-theme-s" formmethod="post">Login</button>
        <a class="forgot-pass btn-gray" asp-controller="Account" asp-action="ForgotPw">Forgot your password?</a>
    </form>

</section>